@media screen and (max-width: 1300px) {
  header {
    padding: 0%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  header h1 {
    padding: 0%;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .btn span {
    font-size: 1.5rem;
    display: flex;
  }
  .img-box img {
    width: 150px;
  }

  .description {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .bio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .details {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
  .details li {
    border-bottom: #1f1f1f solid 3px;
    line-height: 1.5;
    font-size: 1rem;
    letter-spacing: 1.32px;
  }
  .social__links {
    width: fit-content;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    columns: 2;
    flex-wrap: wrap;
    margin: 3rem 0 0 0;
  }

  .btn svg {
    width: 250px;
    position: absolute;
    left: -10px;
    top: 0;
    fill: none;
    stroke: #00d31c;
    stroke-dasharray: 100 690;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  .btn:hover svg {
    stroke-dashoffset: -680;
  }

  .project_container {
    padding: 0.7rem;
  }
}

@media screen and (max-width: 900px) {
  .social__links {
    height: 15rem;
    gap: 0.5rem;
  }
  .project_container {
    padding: 0.2rem;
  }
  .project_container a {
    font-size: 15px;
    font-weight: 300;
  }
}
@media screen and (max-width: 550px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social__links {
    /* width: fit-content; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.7rem;
  }
  .btn span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    margin: 1rem auto;
  }
}
