:root {
    --font: 'Roboto Mono', monospace;
    --font2: 'Inconsolata', monospace;
    --color: #5372b7;
    --color2: #2e4184;
    --font11: 'Plus Jakarta Sans',
        sans-serif;
    --color22: #fbf6f6;
}